<h1>Esto es el componente padre para los ciclos de vida</h1>
<!-- input del padre conectadoa  los hijos -->
<input type="text" [(ngModel)]=texto />

<!-- componente onchanges -->
<app-ng-on-changes 
[entrada]=texto 
[nuevaEntrada]="texto+'mkmkmkmk'"
></app-ng-on-changes>

<br />

<!-- componente oninit -->
<app-ng-on-init 
[entradaInput]=texto
></app-ng-on-init>


<app-combinado [entradaCombinado]=texto [nuevaEntradaCombinado]=texto></app-combinado>

<br /><br />

<button (click)="editarUsuario()">Cambiar</button>

<app-docheck [checando]=usuario></app-docheck>


---------------------------------------

<app-cicloshooks></app-cicloshooks>

